@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url(./res/fonts/Nunito-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "HelveticaLight";
  src: local("HelveticaLight"),
    url(./res/fonts/Helvetica-Light.ttf) format("opentype");
}

@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"), url(./res/fonts/Helvetica.ttf) format("opentype");
}
