@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url(./res/fonts/Nunito-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "NunitoBold";
  src: local("Nunito"), url(./res/fonts/Nunito-Bold.ttf) format("opentype");
}

@font-face {
  font-family: "NunitoSemiBold";
  src: local("Nunito"), url(./res/fonts/Nunito-SemiBold.ttf) format("opentype");
}

@font-face {
  font-family: "NunitoLight";
  src: local("Nunito"), url(./res/fonts/Nunito-Light.ttf) format("opentype");
}

@font-face {
  font-family: "NunitoExtraBold";
  src: local("Nunito"), url(./res/fonts/Nunito-ExtraBold.ttf) format("opentype");
}

@font-face {
  font-family: "RalewayLight";
  src: local("RalewayLight"),
    url(./res/fonts/Raleway-Light.ttf) format("opentype");
}

@font-face {
  font-family: "RalewayBold";
  src: local("RalewayBold"),
    url(./res/fonts/Raleway-Bold.ttf) format("opentype");
}
